<div class="modal fade time-off-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-info text-light rounded-top">
        <h5 class="modal-title lead">New Time Off Request</h5>
      </div>
      <form novalidate class="time-off-form">
        <div class="modal-body p-0">
          <p class="m-0 px-4 py-3">Select a Reason</p>
          <div class="reasons bg-light p-4">
            <div class="form-group reasons-group">
              <div class="form-check m-0 mr-3" data-ng-repeat="reason in reasons">
                <label class="form-check-label p-0">
                  <input type="radio" name="reasonForRequest" value="{{ reason.type }}" data-ng-model="$parent.timeOffRequest.reason">
                  <div class="list-group-item reasons-group-item list-group-item-action p-3">
                    <i class="material-icons text-secondary">{{ reason.type }}</i>
                    <p class="text-center text-uppercase mb-0" style="font-size:0.7rem;">{{ reason.title }}</p>
                  </div>
                </label>
              </div>
            </div>
            <div class="reason-explanation form-group m-0 mt-4">
              <textarea name="explanationForRequest" class="form-control" rows="3" placeholder="Optional additional explanation" data-ng-model="timeOffRequest.notes"></textarea>
            </div>
          </div>
          <div class="date-picker row p-4">
            <div class="start-date col">
              <label for="timeOffRequestStartDate" class="col-form-label">Start Date:</label>
              <div class="d-flex justify-content-between align-items-center">
                <input type="text" class="form-control rounded-0 rounded-left" uib-datepicker-popup="{{ dateFormat }}" ng-model="timeOffRequest.startDate" is-open="startDatePopup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                id="timeOffRequestStartDate" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-light btn-sm ml-0" ng-click="openStartDatePopup()"><i class="material-icons">date_range</i></button>
              </span>
              </div>
            </div>
            <div class="end-date col">
              <label for="timeOffRequestEndDate" class="col-form-label">End Date:</label>
              <div class="d-flex justify-content-between align-items-center">
                <input type="text" class="form-control rounded-0 rounded-left" uib-datepicker-popup="{{ dateFormat }}" ng-model="timeOffRequest.endDate" is-open="endDatePopup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                id="timeOffRequestEndDate" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-light btn-sm ml-0" ng-click="openEndDatePopup()"><i class="material-icons">date_range</i></button>
              </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" name="randomizeTheStatus" value="true" data-ng-model="$parent.timeOffRequest.randomizeStatus">
                Should we randomize the status of this request upon creation? (default: 'pending')
              </label>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-secondary" data-ng-click="cancelModal(timeOffRequest)">Cancel</button>
          <button type="button" class="btn btn-info" data-ng-click="saveModal(timeOffRequest)" data-ng-disabled="validateForm(timeOffRequest)">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
