.time-off-reqests {
  .card-body {
    flex-basis: 20%;
  }
  .time-off-date {
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    flex: 0 0 auto;
    flex-basis: 10%;
  }
  .time-off-actions {
    align-items: flex-end;
    border-left: 1px solid rgba(0, 0, 0, 0.125);
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    justify-content: space-around;
  }
}
