<div class="home-module container py-3">
  <h1 class="display-4">{{ $ctrl.content.title }}</h1>
  <hr />
  <p class="lead" data-ng-repeat="subtitle in $ctrl.content.subtitles">{{ subtitle }}</p>
  <div class="row m-0 align-items-center justify-content-between">
    <div clas "col">
      <status-badges badges="$ctrl.statusBadges"></status-badges>
    </div>
    <div clas "col">
      <button type="button" class="btn btn-info" data-ng-click="$ctrl.addRequest()">Create Time Off</button>
    </div>
  </div>
  <hr />
  <time-off-requests requests="$ctrl.requests" remove-request="$ctrl.deleteRequest(request)"></time-off-requests>
</div>
